/*
Pallet from the logo:
rgb(33, 83, 87) //cyan colour
rgb(194, 157, 115) //yellow colour
*/

.linkedin-mask {
    mask-image: url(images/Masks/LiMask.png);
}

.instagram-mask {
    mask-image: url(images/Masks/IgMask.png);
}

.facebook-mask {
    mask-image: url(images/Masks/FbMask.png);
}

.twitter-mask {
    mask-image: url(images/Masks/TwMask.png);
}

.linkedin-mask,
.instagram-mask,
.facebook-mask,
.twitter-mask {
    background-color: rgb(33, 83, 87);
    margin: 0%;
    padding: 30px;
    transition: background-color 0.5s ease, padding 0.5s ease;
    mask-size: cover;
}

.linkedin-mask:hover,
.instagram-mask:hover,
.facebook-mask:hover,
.twitter-mask:hover  {
    background-color: rgb(194, 157, 115);
    padding: 40px;
    transition: background-color 0.5s ease, padding 0.5s ease;
}

.navigation {
    text-decoration: none;
    color: rgb(33, 83, 87);
    transition: padding 0.5s ease,color 0.5s ease;
    padding: 30px;
}

.navigation:hover {
    color: rgb(194, 157, 115);
    transition: color 0.5s ease,padding 0.5s ease;
    padding: 40px;
}

#selectedSite {
    text-decoration: underline;
}